<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title> {% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
	<link rel="stylesheet" href="{{"/css/main.css" | prepend: site.baseurl}}" media="all">
	<link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,300" type="text/css">
</head>
